.mobile_wallets_wrapper {
    background-image: url('/src/images/Wallets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 4px solid #001B56;
    border-bottom: 4px solid #0A356E;
    height: 700px;
    margin-top: 2rem;
}

.mobile_wallets_container {
    width: 90%;
    margin: 0 auto;
}

.mobile_wallets_title {
    text-align: left;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #FFFF;
    font-weight: 800;
    text-shadow: -2px 0px #0A356E, -1px 2px #0A356E, 1px 0 #0A356E, 0 -1px #0A356E;
    margin-top: 2rem;
}

.mobile_wallets_block_container {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    height: 610px;
    justify-content: space-between;
    margin-top: 1rem;
}

.mobile_wallets_block {
    flex-basis: 55%;
    background-color: #FFFF;
    border-radius: 25px;
    box-shadow: -3px 0px #0A356E, -3px 3px #0A356E, 1px 0 #0A356E, 0 -1px #0A356E;
    margin-bottom: 1rem;
}

.mobile_wallets_block_title {
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #FDE512;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 3px solid #0A356E;
}

.mobile_wallets_block_title span {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    align-self: center;
    color: #FFFF;
    font-weight: 800;
    font-size: 1.3rem;
    text-shadow: -2px 0px #A47400, -1px 2px #A47400, 1px 0 #A47400, 0 -1px #A47400;
}

.mobile_wallet_block {
    height: 80%;
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 10px;
    flex-direction: column;
}

.mobile_wallet_block>div {
    position: relative;
    display: flex;
    margin-bottom: 0.6rem;
}

.mobile_wallet_block_logo {
    width: 50px;
    height: 50px;
}

.mobile_wallet_block_name_id {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.mobile_wallet_block_name_id {
    display: inline-block;
    text-align: left;
    font-size: 1rem;
    color: #0A356E;
    text-shadow: none;
    font-weight: 800;
}

.mobile_wallet_block_name_id input {
    width: 100%;
    background-color: #DAE1EC;
    border: 1px solid #CBD2DF;
    border-radius: 15px;
    padding: 10px 32px 10px 6px;
    float: right;
    font-size: 1rem;
    color: #0A356E;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.mobile_copied {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100px;
    height: 50px;
    background-color: #75C74D;
    border-radius: 50px;
    right: 20px;
    bottom: -100px;
    overflow: hidden;
    transition: all 0.4s;
    color: #FFFF
}

.mobile_shown {
    bottom: 30px;
}